%header#app--header
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light
    %a.navbar-brand{href: "#{root_path}"}
      TW-CLONE
    %button.navbar-toggler{ type: 'button', 'data-toggle': 'collapse', 'data-target': '#navbarNavAltMarkup',
                            'aria-controls': 'navbarNavAltMarkup', 'aria-expanded': 'false', 'aria-label': 'Toggle navigation'}
      %span.navbar-toggler-icon
    .collapse.navbar-collapse{id: 'navbarNavAltMarkup' }
      - #mr-autoで左寄せ、ml-autoで右寄せ
      %ul.navbar-nav.ml-auto
        %li.nav-item
          = link_to 'Home', root_path, class: 'nav-link'
        - if user_signed_in?
          %li.nav-item
            = link_to 'Logout', destroy_user_session_path, class: 'nav-link', method: :delete
          %li.nav-item
            = link_to "#{current_user.name}", edit_user_registration_path, class: 'nav-link' 
        - else
          %li.nav-item
            = link_to 'SignUp', new_user_registration_path, id: 'signup-link', class: 'nav-link'
          %li.nav-item
            = link_to 'Login', new_user_session_path, id: 'login-link', class: 'nav-link'

